rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // HELPER FUNCTIONS

    function docDeleted(path) {
      // 1 📖 doc at path is deleted
      return exists(path) && !existsAfter(path);
    }
    function docCreated(path) {
      // 1 📖 doc at path is created
      return existsAfter(path) && !exists(path);
    }
    function requestData() {
      // get request data
      return request.resource.data;
    }
    function createResource() {
      // create resource
      return request.method == 'create';
    }
    function deleteResource() {
      // delete resource
      return request.method == 'delete';
    }
    function refCollection(docRef) {
      // get doc reference collection
      return docRef[3];
    }
    function requestCollection() {
      // 3rd path is collection
      return request.path[3];
    }
    function requestDoc() {
      // 4th path is doc id
      return request.path[4];
    }
    function isIncrement(before, after, field) {
      // increment
      return after[field] == before[field] + 1;
    }
    function isDecrement(before, after, field) {
      // decrement
      return after[field] == before[field] - 1;
    }
    function isCreateField(before, after, field) {
      // field is created
      return !(field in before.data) && (field in after.data);
    }
    function isDeleteField(before, after, field) {
      // field is deleted
      return (field in before.data) && !(field in after.data);
    }
    function hasOnly(data, fields) {
      // data has only fields
      return data.keys().hasOnly(fields);
    }
    function isOne(data, field) {
      // field = 1
      return data[field] == 1;
    }

    // COUNTER BASE FUNCTIONS

    function isCountDecrement(before, after, field, isDeleteDoc) {
      // field is deleted or doc is deleted from count = 1
      let isDelete = isDeleteDoc || isDeleteField(before, after, field);
      let isLastDecrement = isDelete && isOne(before, field);

      // field is valid decrement at 1 multiple
      return isDecrement(before, after, field) || isLastDecrement;
    }

    function isCountIncrement(before, after, field, isCreateDoc) {

      // field is created or doc is created to count = 1
      let isCreate = isCreateDoc || isCreateField(before, after, field);
      let isFirstIncrement = isCreate && isOne(after, field);

      // field is valid increment at 1 multiple
      return isIncrement(before, after, field) || isFirstIncrement;
    }

    function isCount(before, after, field, cCreate, cDelete, rCreate, rDelete) {

      // is increment or count create
      let isValidIncrement = isCountIncrement(before, after, field, cCreate);

      // is decrement or count delete
      let isValidDecrement = isCountDecrement(before, after, field, cDelete);

      // is valid counter with resource create or delete
      return (isValidIncrement && rCreate) || (isValidDecrement && rDelete);
    }

    // COUNTER RESOURCE FUNCTIONS

    function counterDoc(field, refField) {

      let before = resource.data;
      let after = request.resource.data;

      // doc created or deleted, only count as 1 📖 on resource doc
      let rCreate = docCreated(after[refField]);
      let rDelete = docDeleted(after[refField]);

      // counter doc created or deleted
      let cCreate = createResource();
      let cDelete = deleteResource();

      return isCount(before, after, field, cCreate, cDelete, rCreate, rDelete);
    }

    function requestCounterDoc(field, path) {

      // counter doc created or deleted, only count as 1 📖 on count doc
      let before = get(path).data;
      let after = getAfter(path).data;
      let cCreate = docCreated(path);
      let cDelete = docDeleted(path);

      // doc created or deleted
      let rCreate = createResource();
      let rDelete = deleteResource();

      return isCount(before, after, field, cCreate, cDelete, rCreate, rDelete);
    } 

    // RULES

    function todoCounter() {

      // config
      let countField = 'count';
      let countPath = /databases/$(database)/documents/_counters/$(requestCollection());

      // check for counter
      return requestCounterDoc(countField, countPath);
    }

    function isCounter() {

      // config
      let countField = 'count';
      let countRefField = 'resourceRef';

      // validate collection ref is same as count document id
      let validRef = requestDoc() == refCollection(requestData()[countRefField]);

      // can only have a count field and a count ref field
      let validFields = hasOnly(requestData(), [countField, countRefField]);

      // check for counter
      return counterDoc(countField, countRefField) && validFields && validRef;
    }

    function isUserCounter() {

      // config
      let countField = 'todoCount';
      let countRefField = 'resourceRef';

      // vallidate count ref is in todos collection
      let validRef = refCollection(requestData()[countRefField]) == 'todos';

      // check for counter
      return counterDoc(countField, countRefField) && validRef;
    }

    function userCounter() {

      // config
      let userPath = /databases/$(database)/documents/users/$(request.auth.uid);
      let userField = 'todoCount';

      // check for todo counter
      return requestCounterDoc(userField, userPath);
    }

    // MATCHES

    match /users/{document} {
      allow read;
      allow write: if isUserCounter();
    }

    match /todos/{document} {
      allow read;
      allow update;
      allow create, delete: if todoCounter() && userCounter();
    }

    match /_counters/{document} { 
      allow read;
      allow write: if isCounter();
    } 

  }
}